<h1> Edita el perfil de <%=@user.username %></h1>

<%= render 'form' %>

<% if current_user&.admin? %>
  <button type="button" class="btn btn-danger"> <%= link_to "Eliminar perfil ", user_path(@user), method: :delete,
                                                            data: { confirm: "¿Estás seguro que quieres eliminar esta asignatura?"} %> </button>
<%end%>