<h1 align="center"> Usuarios </h1>

<table id="customers">
  <tr>
    <th>
      Usuarios
    </th>
    <th>
      Responsabilidad
    </th>
  </tr>
  <!-- Los ordeno alfabéticamente -->
  <% @users.order("username").each do |user| %>
    <tr>
      <td>
        <%= link_to user.username, user_path(user) %>
      </td>
      <td>
        <%= "Director" if user.admin? %>
      </td>
    </tr>
  <% end %>
</table>


