<div class="body" id="tabladepartamentos">
  <div align="center">
    <h3> Departamentos </h3>

    <% @department.each do |department| %>
      <button type="button" class="btn btn-outline-secondary margin">
        <%= link_to department.name, department_path(department) %>
      </button>
    <% end %>
  </div>
  <% if current_user&.admin? %>
   <button type="button" class="btn btn-outline-info"> <%= link_to "Agregar un nuevo departamento", new_department_path, remote:true %></button>
  <%end%>
</div>

<div id="form_new">   <!-- id="form_new, identifica mi div aquí, usaré "#form_new" para saber que es aquí donde va el formulario"-->
</div>