<div class="body_simpson letter_white">
  <h2 align="center"> Instituto Ficticio </h2>
  <button class="button_entrada button_izquierda"> <%= link_to "Entrar como invitado", courses_path %></button>
  <button class="button_entrada center margin1"> <%= link_to "Iniciar Sesión", login_path %> </button>
  <button class="button_entrada button_derecha margin2"> <%= link_to "Registrarse", signup_path %> </button>
</div>