<h1 align="center"> Asignaturas </h1>

  <table id="customers">
    <tr>
      <th>
        Asignatura
      </th>
      <th>
        Profesores
      </th>
      <th>
        Cursos
      </th>
    </tr>
    <!-- Los muestro en la tabla ordenados alfabéticamente -->
    <% @subject.order("name").each do |subject| %>
      <tr>
    <td>
      <%= link_to subject.name, subject_path(subject) %>
    </td>
    <td>
      <% subject.teachers.each do |teacher| %>
      <%= link_to teacher.name, teacher_path(teacher) %>  |
      <%end%>
    </td>
    <td>
      <% subject.courses.each do |course| %>
      <%= link_to course.secondary, course_path(course) %>  |
      <%end%>
    </td>
  </tr>
    <% end %>
  </table>

<% if current_user&.admin? %>
  <button type="button" class="btn btn-success"> <%= link_to "Añadir una nueva asignatura", new_subject_path, remote: true %></button>
  <div id="form_new">     <!-- id="form_new, identifica mi div aquí, usaré "#form_new" para saber que es aquí donde va el formulario"-->
  </div>
<%end%>
