<h1 align="center"> Todas las asignaturas son </h1>

<!-- Encima de la tabla creo un enlace para que se pueda añadir más asignaturas -->
  <p>
    <%= link_to "Añadir una nueva asignatura", new_subject_path %>
  </p>

  <table>
    <tr>
      <th>
        Asignatura
      </th>
    </tr>
    <% @subject.each do |subject| %>
      <tr>
        <td>
          <%= subject.name %>
        </td>
      </tr>
    <% end %>
  </table>


