<h1 align="center"> Todas las asignaturas son </h1>

  <table>
    <tr>
      <th>
        Asignatura
      </th>
    </tr>
    <% @subject.each do |subject| %>
      <tr>
        <td>
          <%= link_to subject.name, subject_path(subject) %>
        </td>
      </tr>
    <% end %>
  </table>


<button type="button" class="btn btn-success"> <%= link_to "Añadir una nueva asignatura", new_subject_path %></button>

