<h2> Introducir una nueva asignatura </h2>

<!-- #Agrego formulario copiado de Internet.-->

<%= form_for @subject do |f| %>

<form>
  <div class="form-group">

        <%= f.label :name %>
        <%= f.text_field :name %>
  </div>

  <!-- <button type="submit" class="btn btn-primary"> Añadir </button> -->
  <%= f.submit %>
</form>

<% end %>