<h2> Introducir una nueva asignatura </h2>

<!-- #Agrego formulario copiado de Internet.-->

<form>
  <div class="form-group">
      <label for="inputSubject"> Nombre asignatura: </label>
    <input type="name" class="form-control" id="inputSubject" aria-describedby="nameHelp" placeholder="Enter name">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>

 <!--  <button type="submit" class="btn btn-primary"> Añadir </button> Prescindo del botón, para ver si se puede
 solo con enter-->
</form>

