<b><i> Información de <%= @subject.name %> </i></b>


<table>
  <tr>
    <td>
      <b><p> Se imparte en los cursos: </p></b>
      <ul>
        <% @subject.courses.each do |course| %>
          <li><%= link_to course.secondary, course_path(course) %><br></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>
      <b><p> Los profesores que la imparten son: </p></b>
      <ul>
        <% @subject.teachers.each do |teacher| %>
          <li><%= link_to teacher.name, teacher_path(teacher) %><br></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>

<p>
  <%= link_to " Volver a la lista de asignaturas ", subjects_path %>
</p>