<h1 align="center"> Profesores </h1>

<table id="customers">
  <tr>
    <th>
      Profesores
    </th>
    <th>
      Responsabilidad
    </th>
    <th>
      Departamento
    </th>
  </tr>
  <!-- Los ordeno alfabéticamente -->
  <% @teacher.order("name").each do |teacher| %>
    <tr>
      <td>
        <%= link_to teacher.name, teacher_path(teacher) %>
      </td>
      <td>
        <%= link_to teacher.responsibility, teacher_path(teacher) %>
      </td>
      <td>
        <%= link_to teacher.department&.name, departments_path %>
      </td>
    </tr>
  <% end %>
</table>

<%# - raise  %>
<% if current_user&.admin? %>
  <button type="button" class="btn btn-success"> <%= link_to "Agregar un nuevo profesor", new_teacher_path %></button>
  <div id="form_new">   <!-- id="form_new, identifica mi div aquí, usaré "#form_new" para saber que es aquí donde va el formulario"-->
  </div>
<%end%>




