<h1 align="center"> Profesores </h1>

<table>
  <tr>
    <th>
      Profesores
    </th>
  </tr>
  <!-- Los ordeno alfabéticamente -->
  <% @teacher.order("name").each do |teacher| %>
    <tr>
      <td>
        <%= link_to teacher.name, teacher_path(teacher) %>
      </td>
    </tr>
  <% end %>
</table>

<button type="button" class="btn btn-success"> <%= link_to "Agregar un nuevo profesor", new_teacher_path %></button>