<h2> Incluir un nuevo profesor a la lista </h2>

<!-- #Agrego formulario copiado de Internet.-->

<%= form_for @teacher do |f| %>

  <form>
    <div class="form-group">

      <%= f.label :Profesor %>
      <%= f.text_field :name %>
    </div>

    <!-- <button type="submit" class="btn btn-primary"> Añadir </button> -->
    <%= f.submit %>
  </form>

<% end %>