<div class="body">
  <div align="center">
    <h3> Secundaria </h3>

      <% @course.each do |course| %>
            <button type="button" class="btn btn-outline-secondary margin">
              <%= link_to course.secondary, course_path(course) %>
            </button>
      <% end %>
   </div>
  <button type="button" class="btn btn-outline-info"> <%= link_to "Agregar un nuevo curso", new_course_path %></button>
</div>

