<div class="body" id="tablacursos">
  <div align="center">
    <h3> Secundaria </h3>

      <% @course.each do |course| %>
            <button type="button" class="btn btn-outline-secondary margin">
              <%= link_to course.secondary, course_path(course) %>
            </button>
      <% end %>
   </div>
    <% if current_user&.admin? %>
    <button type="button" class="btn btn-outline-info"> <%= link_to "Agregar un nuevo curso", new_course_path, remote: true %></button>
    <%end%>
</div>

<div id="form_new">   <!-- id="form_new, identifica mi div aquí, usaré "#form_new" para saber que es aquí donde va el formulario"-->
</div>

