<h2> Añadir un nuevo curso </h2>

<!-- #Agrego formulario copiado de Internet.-->

<%= form_for @course do |f| %>

  <form>
    <div class="form-group">

      <%= f.label :Curso %>
      <%= f.text_field :name %>
    </div>

    <!-- <button type="submit" class="btn btn-primary"> Añadir </button> -->
    <%= f.submit %>
  </form>

<% end %>