/* La siguiente línea es para poner en color azul. Es una clase y por eso se comienza por punto */

/* Estilo pensado para la portada de la página*/
.body_simpson{
  background-image: url("school.png");
  background-repeat: no-repeat;
  background-position: right top;
  height: 700px;
  }

.letter_white{
  color: white;
  font-size: -webkit-xxx-large;
  font-weight: bold;
}

.background_prueba{
  background-color: #ddd;
}

/* /////////////////////////////////////////////////////////////////////////*/
/* Esto se refiere al id de la página, recuerda que debe ser único */
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: darkgrey;
  color: white;
}

/* //////////////////////////////////////////////////////////////////////// */

.body {
    margin-top: 15px;
    background-color: #f2f2f2;
    color: #2E2F30;
}

.margin {
  margin-top: 15px;
}

.button_entrada {
  background-color: blueviolet;
  border: none;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 40px 20px;
  cursor: pointer;
  border-radius: 24px;
}

.button_izquierda {
  float: left;
}

.button_derecha {
  float: right;
}

/* para los botones de la entrada */
.margin1 {
  margin-top: 200px;
}

.margin2 {
  margin-top: 400px;
}

/* esto sirve para la lista que me creo con cada usuario, avatar y artículos que ha escrito*/
.listing {
  list-style: none;        /* quita los puntitos negros que aparecía como numerando los usuarios*/
  padding-left: 450px;   /* dice que el relleno izdo sea de 450, si fuera 0 estaría en el extremo izdo */
}

/* me la he inventado para dar margen entre la foto del gravatar y el texto de abajo*/
.gravatar-border{
  margin-top: 50px;
}

.background_prueba1 {
  background-color: antiquewhite;
}